# General ESP32 Configuration
CONFIG_ESP_TASK_WDT_TIMEOUT_S=10

# Memory configuration for LVGL
CONFIG_SPIRAM=y
CONFIG_SPIRAM_USE_MALLOC=y

# LCD Configuration
CONFIG_LCD_RGB_ISR_IRAM_SAFE=y

# I2C Configuration
CONFIG_I2C_ENABLE_DEBUG_LOG=y

# FreeRTOS Configuration
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y

# Component configuration
CONFIG_LWIP_SO_REUSE=y

# Log Configuration
CONFIG_LOG_DEFAULT_LEVEL_INFO=y